<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.endspace">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Creditos"></activity>
        <activity android:name=".Sedna.SemEquipamento" />
        <activity android:name=".Sedna.Equipamento" />
        <activity android:name=".Sedna.Conversa" />
        <activity android:name=".Sedna.LevarMsg" />
        <activity android:name=".Sedna.NSeguir" />
        <activity android:name=".Sedna.Seguir" />
        <activity android:name=".Sedna.CoordenadaDois" />
        <activity android:name=".Sedna.CoordenadaUm" />
        <activity android:name=".Sedna.Sedna" />
        <activity android:name=".GameOver" />
        <activity android:name=".Diario" />
        <activity android:name=".Apito" />
        <activity android:name=".Sangue" />
        <activity android:name=".Fumaca" />
        <activity android:name=".Eris" />
        <activity android:name=".Tela2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>